<h1> Edit <%= @appearance.guest.name %>'s Appearance on <%= @appearance.episode.date %></h1>

<%= form_for @appearance do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, in: (1..5) %>
  <%= f.submit %>
<% end %>
